[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yogananth-subramanian
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yogananth-subramanian
	label-Verified = -1..+1 group user/yogananth-subramanian
	push = group user/yogananth-subramanian
	read = group user/yogananth-subramanian
	rebase = group user/yogananth-subramanian
	removeReviewer = group user/yogananth-subramanian
	submit = group user/yogananth-subramanian
[access "refs/heads/*"]
	create = group user/yogananth-subramanian
	push = +force group user/yogananth-subramanian
	pushMerge = group user/yogananth-subramanian
	read = group user/yogananth-subramanian
[access "refs/tags/*"]
	push = group user/yogananth-subramanian
	push = +force group user/yogananth-subramanian
